<div id="System{{system['systemname']}}Chart" class="ct-chart"></div>
  <script>
    var thislabel = [];
    var thisseries = [];

    var health = {{healthData|tojson}}
    for (var key in health) {
      var value = health[key];
      thislabel.push(key);
      thisseries.push({meta: key+' ('+value['who']+')', value: value['status']});
      console.log(key+' ('+value['who']+')',value['status']);
    }

    var options = {
      //scaleMinSpace: 10,
      referenceValue: 50,
      showArea: true,
      axisX: {
        labelInterpolationFnc: function skipLabels(value, index) {
          return index % 2  === 0 ? value : null;
        }
      },
      axisY: {
        onlyInteger: true,
        high: 100,
        low: 0
      },
      plugins: [
        Chartist.plugins.ctThreshold({
          threshold: {{system['threshold']}}
        }),
        Chartist.plugins.tooltip()
      ]
    };
    // Initialize a Line chart in the container with the ID chart1
    var chart{{system['systemname']}} = new Chartist.Line('#System{{system['systemname']}}Chart', {
      labels: thislabel,
      series: [thisseries]
      //series: [thisseries,[30,40,50,60,30,20]]
    }, options );
  </script>
