{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/chartist.min.css">
<link rel="stylesheet" href="/static/chartist-plugin-threshold.css">
<link rel="stylesheet" href="/static/chartist-plugin-tooltip.css">
{% endblock %}
{% block middleArea %}
            <script src="/static/chartist.js"></script>
            <script src="/static/chartist-plugin-threshold.js"></script>
            <script src="/static/chartist-plugin-tooltip.js"></script>

            <div class="dashChartContainer">
              {% for key,value in systems.items() %}
              <!-- start column with single chart div -->
              <div class="dashChart">
                <h3>{{key}} <small>status (threshold {{value['threshold']}})</small></h3>
                {% set healthData = value['healthdata'] %}
                {% set system = value %}
                {% include 'chart.html' %}
              </div>
              <!-- end column with chart div -->
              {% endfor %}
            </div>
            <div class="clear-space"></div>
            <div>
              <p>TODO: Combined chart</p>
            </div>
{% endblock %}
