{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/chartist.min.css">
<link rel="stylesheet" href="/static/chartist-plugin-threshold.css">
<link rel="stylesheet" href="/static/chartist-plugin-tooltip.css">

{% endblock %}
{% block middleArea %}
<script src="/static/chartist.min.js"></script>
<script src="/static/chartist-plugin-threshold.js"></script>
<script src="/static/chartist-plugin-tooltip.js"></script>

{% if healthData %}
<p>The following chart displays the latest health data for the {{system['systemname']}} service.</p>
<p>See other resolutions:</p>
<ul>
  <li><a href="/system/view/{{system}}/all">all</a></li>
  <li><a href="/system/view/{{system}}/week">week</a></li>
  <li><a href="/system/view/{{system}}/month">month</a></li>
</ul>
<div class="c90">
{% include 'chart.html' %}
sd
</div>
{% else %}
<p>No data received for {{system['systemname']}} service today.</p>
<p>Try other resolutions:</p>
<ul>
  <li><a href="/system/view/{{system}}/all">all</a></li>
  <li><a href="/system/view/{{system}}/week">week</a></li>
  <li><a href="/system/view/{{system}}/month">month</a></li>
</ul>
{% endif %}

{% endblock %}
